@model Category

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-light">Delete Category</h2>
            <hr />

        </div>
        <div class="mb-3">
            <label asp-for="Name"><h4>Name</h4> </label>
            <input asp-for="Name" disabled class="form-control bg-gradient" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"><h4>Display Order</h4> </label>
            <input asp-for="DisplayOrder" disabled class="form-control bg-gradient" />
            <span asp-validation-for="DisplayOrder" class="text-dark"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px; color: black;">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

